/* Universal styles */
* {
    cursor: url("crosshair.png") 53 53, crosshair;
    font-size: 28px;
    font-family: 'Western', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #f59517;
    text-shadow: -1px -1px 0 rgb(39, 39, 39), 1px -1px 0 rgb(39, 39, 39), 1px 1px 0 rgb(39, 39, 39), 1px 1px 0 rgb(39, 39, 39);
}

/* Input styles */
input {
    outline: none;
    border: none;
    width: 15px;
    cursor: default;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    cursor: default;
}

.all {
    width: 38px;
}

/* Button styles */
button, .game-button {
    padding: 10px 20px;
    font-size: 28px;
    background-color: #f59517;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: -1px -1px 0 rgb(39, 39, 39), 1px -1px 0 rgb(39, 39, 39), 1px 1px 0 rgb(39, 39, 39), 1px 1px 0 rgb(39, 39, 39);
    transition: background-color 0.3s;
}

button:hover, .game-button:hover {
    background-color: #d37814;
}

button:active, .game-button:active {
    background-color: #b26512;
}

/* Ammo display styles */
.display {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    border-radius: 5px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}

.ammoDisplay {
    top: 10px;
}

.scoreDisplay {
    top: 50px;
}

.timerDisplay {
    top: 90px;
}
